version: "3.9"

services:
  infra-api:
    build: .
    env_file:
      - /srv/.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - proxy
    labels:
      - traefik.enable=true
      - traefik.http.routers.infra.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.infra.entrypoints=web
      - traefik.http.routers.infra.middlewares=infra-strip
      - traefik.http.middlewares.infra-strip.stripprefix.prefixes=/api
      - traefik.http.services.infra.loadbalancer.server.port=8000

networks:
  proxy:
    external: true
